
.btn_input{
    position: relative !important;
}
.form_body i{
    color: rgb(158, 157, 157);
    position: absolute;
    top: 30%;
    right: 10px;
}
.btn_form{
    border: none;
    background: none;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: rgb(128, 116, 206);
}