@keyframes ldio-bvnqwyv6add {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
.ldio-bvnqwyv6add div {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 50%;
  animation: ldio-bvnqwyv6add 1s cubic-bezier(0.5,0,0.5,1) infinite;
}.ldio-bvnqwyv6add div:nth-child(1) {
  transform: translate(30px,0);
  background: #e15b64;
  animation-delay: -0.6s;
}.ldio-bvnqwyv6add div:nth-child(2) {
  transform: translate(70px,0);
  background: #f47e60;
  animation-delay: -0.4s;
}.ldio-bvnqwyv6add div:nth-child(3) {
  transform: translate(110px,0);
  background: #f8b26a;
  animation-delay: -0.2s;
}.ldio-bvnqwyv6add div:nth-child(4) {
  transform: translate(150px,0);
  background: #abbd81;
  animation-delay: -1s;
}
.loadingio-spinner-bars-nm5uxiyfe8m {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-bvnqwyv6add {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bvnqwyv6add div { box-sizing: content-box; }
/* generated by https://loading.io/ */
